{% extends "index.html" %}

{% block content %}
<div style="background: black; display: flex; width: 50%; height: 100%; display: flex; flex-direction: column;  align-items: center; justify-content: center;">
        <form method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column;  align-items: center; justify-content: center;">
            {{ form.file.label(style="font-size: 40px; padding: 2vh 16vh; background: white; border-radius: 6px; font-family: Lucida Console, Monospace") }}<br>
            {{ form.file(style="display: none;") }}<br>
            {{ form.submit(style="border-radius: 4px; font-size: 20px; background: white; font-family: Lucida Console, Monospace; border: none; padding: 1vh 4vh") }}
        </form>
</div>
<div style="background: white; display: flex; width: 50%; height: 100%; flex-direction: column;  align-items: center; justify-content: center;">
    <p style="color: black; text-align: center; width: 30%; font-family: Lucida Console, Monospace; font-size: 20px;">
        Danis Saifullin <br>
        vk.com/dantatartes
    </p>
    <p style="color: black; text-align: center; width: 30%; font-family: Lucida Console, Monospace; font-size: 20px;">
        Nickolai Platonov <br>
        vk.com/platun0v
    </p>
    <p style="color: black; text-align: center; width: 30%; font-family: Lucida Console, Monospace; font-size: 20px;">
        Za Chong Nguyen <br>
        vk.com/boyfromasia
    </p>
</div>


{% endblock %}


