{% extends "index.html" %}

{% block content %}
<body style="background: url('../static/pictures/carpet.jpg') no-repeat center center fixed; background-size: cover">

<form method="post" enctype="multipart/form-data">
    <div style="display: absolute; background: DarkGray; width: 30%; margin-left: 35%; margin-top: 20%; padding: 50px; border-radius: 8px;  border: 4px solid #580000 ;">
        <div style="">
            {{ form.file.label }}<br>
            {{ form.file() }}<br>
        </div>
        {{ form.submit(style="position: relative; background: #800000; color: white; border-radius: 8px; padding: 12px 40px; margin-left: 17%; top: 5vh; font-size: 20px; font-weight: bold") }}
    </div>
</form>

</body>

{% endblock %}


