<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dantatartes</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>

<body>

	<main>
		<div id="about" class="toggle_content">
			<span>damn what a font</span>
		</div>

		<footer>
			<h1><a href="#about">Classify seizure</a></h1>
			<nav id="main_nav">
		  		<ul>
				    <li ><a href="#1">Platun0v</a></li> /
				    <li ><a href="#2">dantatartes</a></li> /					   
				    <li ><a href="#3">boyfromasia</a></li>
			  	</ul>
			</nav>
		</footer>
	</main>
</body>
</html>